* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.upload-section {
    margin-bottom: 20px;
    text-align: left;
}

.upload-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-section input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-submit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn-submit:hover {
    background-color: #45a049;
}

.flash-messages {
    list-style: none;
    margin-top: 20px;
}

.flash-success {
    color: #28a745;
}

.flash-danger {
    color: #dc3545;
}
.download-section p {
    font-size: 18px;
    margin-bottom: 15px; /* Adds some space between the text and the button */
    font-weight: bold;
}

.btn-download {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adds space between the text and the button */
}

.btn-download:hover {
    background-color: #0056b3;
}
